@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}

.app{
  min-height: 100vh;
  color: white;
  background: linear-gradient(#161518, #2c1c52, #000000);
}